.dream-title {
    border-bottom: 1px dashed black;
    padding-bottom: 8px;
}

.dream-card {
    width: 100%;
    text-align: center;
    padding: 1.5em;
    border: 1px solid gray;
    text-overflow: ellipsis!important;
    overflow: scroll;   
}

.text-link {
    color: white;
}

.like-button {
    border: none;
    background: transparent;
}

.like-count {
    margin-left: 8px;
}